.nav-item-bell {
  margin-left: 5px;
  margin-right: 5px;
}

.bi-bell {
  font-size: 1.5rem;
  transition: transform 0.3s;
}

.text-danger {
  color: red !important;
}

@keyframes shake {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(-15deg);
  }
  20% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-15deg);
  }
  40% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(10deg);
  }
  70% {
    transform: rotate(-5deg);
  }
  80% {
    transform: rotate(5deg);
  }
  90% {
    transform: rotate(-2deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-shake {
  animation: shake 0.5s infinite;
}
