.client-list-container {
  display: flex;
  flex-direction: row;
}

.client-list {
  background: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 30%;
  box-sizing: border-box;
  color: black;
}

.client-list ul {
  list-style: none;
  padding: 0;
}

.client-list li {
  padding: 10px;
  cursor: pointer;
  transition: background 0.3s;
}

.client-list li:hover {
  background: #ddd;
}

.client-detail-container {
  width: 70%;
}
